@charset "UTF-8";
*{
	padding:0;
	margin:0;
	font-family: 'Arimo', sans-serif;
}
p{
	font-family: Arial
}
h5{
	color: mediumaquamarine
}
h1.uppercase{
    text-transform: uppercase;
    background-color: #EA4447;
}
.background{
	background-image: url('https://image.freepik.com/free-vector/abstract-futuristic-background_23-2148399335.jpg');
	color: white;
}
.centre{
	margin-left: auto;
	margin-right: auto;
	width: 250px;
}

#green {
	background-color: green;
}
#lightsalmon{
	background-color: lightsalmon;
}
#mediumpurple{
	background-color: mediumpurple;
}
#yellowgreen{
	background-color: yellowgreen;
}